POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DATABASE=nexofrota
POSTGRES_USER=nexofrota
POSTGRES_PASSWORD=troque-esta-senha

MONGO_URI=mongodb://nexofrota:troque-esta-senha@localhost:27018/?authSource=admin
MONGO_DATABASE=nexofrota
MONGO_USER=nexofrota
MONGO_PASSWORD=troque-esta-senha

DEFAULT_MAP_LATITUDE=-23.5505
DEFAULT_MAP_LONGITUDE=-46.6333
DEFAULT_RADIUS_KM=25
SIMULATION_MAX_STEP_KM=2.5
